version: '3.4'

networks:
    mppilot-network:
        driver: bridge

services:
    mppilot.app:
        container_name: mppilot
        image: ${DOCKER_REGISTRY-}mppilotapp
        ports:
            - 5000:80
        environment:
            - ASPNETCORE_Kestrel__Certificates__Default__Path=/certs/mppilot.pfx
            - ASPNETCORE_Kestrel__Certificates__Default__Password=24042001Nr
        volumes:
            - ./certs:/certs
        depends_on:
            - elasticsearch
            - postgres
        build:
            context: .
            dockerfile: MPPilot.App/Dockerfile
        networks:
            - mppilot-network

    elasticsearch:
        container_name: elastic
        image: elasticsearch:8.8.1
        ports:
            - 9200:9200
        volumes:
            - elasticsearch-data:/usr/share/elasticsearch/data
        environment:
            - xpack.monitoring.collection.enabled=true
            - xpack.security.enabled=false
            - xpack.watcher.enabled=false
            - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
            - discovery.type=single-node
        networks:
            - mppilot-network
  
    kibana:
        container_name: kibana
        image: kibana:8.8.1
        ports:
            - 5601:5601
        depends_on:
            - elasticsearch
        environment:
            - ELASTICSEARCH_URL=http://localhost:9200
        networks:
            - mppilot-network
            
    postgres:
        container_name: postgres
        image: postgres:latest
        environment:
            POSTGRES_DB: mppilot_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 24042001Nr
        ports:
            - 5432:5432
        volumes:
            - postgres:/var/lib/postgresql/data
        networks:
            - mppilot-network

volumes:
    elasticsearch-data:
    postgres: