global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["mppilot:9090"]

  - job_name: 'mppilot-app'
    scrape_interval: 5s
    static_configs:
      - targets: ['mppilot:5001']
    tls_config:
      insecure_skip_verify: true