global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["host.docker.internal:9090"]

  - job_name: 'mppilot-app'
    scrape_interval: 5s
    static_configs:
      - targets: ['host.docker.internal:5000']
    tls_config:
      insecure_skip_verify: true