@using MPBoom.Domain.Models;
@using System.Reflection;
@using MPBoom.Domain.Models.Advert;

@foreach (var property in UpdatedProperties)
{
    <div class="row">
        <div class="col-5 col-md-2">@property.Name:</div>
        <div class="col-5 col-md-10">'@property.GetValue(OldCampaign)' -> '@property.GetValue(NewCampaign)'</div>
    </div>
}

@code {
    [Parameter] 
    public Advert OldCampaign { get; set; }

    [Parameter]
    public Advert NewCampaign { get; set; }

    [Parameter]
    public List<PropertyInfo> UpdatedProperties { get; set; }
}