<div class="form-group py-1">
	<label for="advertNameInput">Название:</label>
	<input type="text" class="form-control" id="advertNameInput">
</div>
<div class="form-group py-1">
	<label for="advertKeywordInput">Ключевая фраза:</label>
	<input type="text" class="form-control" id="advertKeywordInput">
</div>
<div class="form-check form-switch py-1">
	<label class="form-check-label" for="advertIsEnabled">Вкл/Выкл.</label>
	<input class="form-check-input" type="checkbox" id="advertIsEnabled">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
	<button type="button" class="btn btn-primary" id="saveAdvert">Сохранить</button>
</div>