@page "/settings"
@	using MPBoom.Domain.Interfaces;
@	using MPBoom.Domain.Models;
@	using Newtonsoft.Json;
	using MPBoom.Domain.Services.LocalStorage;

@inject ILocalStorageService _localStorageService;
@inject ToastService _notificationsService;

<h3>Настройки личного кабинета</h3>

<EditForm Model="@_userSettings" class="form-check-inline" OnSubmit="@(async () => await SaveSettings())">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-group">
		<label>Ваш API-ключ для Wildberries:</label>
		<InputText type="password" 
			required="true" 
			placeholder="Введите ваш ключ" 
			class="form-control" 
			oninvalid="this.setCustomValidity('Введите корректный ключ')"
			oninput="setCustomValidity('')" @bind-Value="_userSettings.WildberriesApiKey" />
	</div>

	<div style="padding-top: 5px">
		<button type="submit" class="btn btn-primary">Сохранить</button>
	</div>
</EditForm>

@code {
	private UserSettings _userSettings = new();

	private async Task SaveSettings()
	{
		var notification = new ToastMessage { Title = "Уведомление от MPBoom", Type = ToastType.Success };
		try
		{
			var serializedSettings = JsonConvert.SerializeObject(_userSettings);
			await _localStorageService.SetItemAsync("userSettings", serializedSettings);

			notification.Message = "Настройки успешно сохранены.";
		}
		catch (Exception)
		{
			notification.Type = ToastType.Danger;
			notification.Message = "Произошла ошибка при сохранении настроек!";
		}

		_notificationsService.Notify(notification);
	}
}
