<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MPPilot.App</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MPPilot.App.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
</head>
<body id="body-pd">
	<header class="header" id="header">
		<div class="header_toggle">
			<i class='bx bx-menu' id="header-toggle"></i>
		</div>
		<div class="header_img">
			<img src="~/content/capybara.jpg">
		</div>
	</header>
	<div class="l-navbar" id="nav-bar">
		<nav class="nav">
			<div>
				<a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">MPPilot</span> </a>
				<div class="nav_list">
					<a href="/Home" class="nav_link active">
						<i class='bx bx-home-alt nav_icon'></i>
						<span class="nav_name">Главная</span>
					</a>
					<a href="/Adverts" class="nav_link">
						<i class='bx bx-line-chart nav_icon'></i>
						<span class="nav_name">Рекламные кампании</span>
					</a>
					<a href="/Settings" class="nav_link">
						<i class='bx bx-cog nav_icon'></i>
						<span class="nav_name">Настройки</span>
					</a>
					<a href="/Account/Login" class="nav_link">
						<i class='bx bx-log-in nav_icon'></i>
						<span class="nav_name">Войти</span>
					</a>
				</div>
			</div>
			<a href="/Home" class="nav_link">
				<i class='bx bx-log-out nav_icon'></i>
				<span class="nav_name">Выйти</span>
			</a>
		</nav>
	</div>

	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
