@using MPPilot.Domain.Models.Dashboards;
@model DashboardStatistics;

<div>
	<div>
		<label>Под управлением автобиддеров:</label>
		<label>@Model.TotalInAutobiddersManagement</label>
	</div>

	<div>
		<label>Баланс всех РК:</label>
		<label>@Model.TotalInAdverts</label>
	</div>
</div>